CLICKUP_TOKEN=pk_your_token_here
CLICKUP_TEAM_ID=your_workspace_id_here
GOOGLE_SERVICE_ACCOUNT_KEY={"type":"service_account","project_id":"...paste entire JSON here on one line..."}
GOOGLE_SPREADSHEET_ID=your_spreadsheet_id_here
